@tailwind base;
@tailwind components;
@tailwind utilities;


p{
  font-size: 0.9rem;
}
span{
  font-size: 0.75rem;
}

.shadow_white{
    box-shadow: 0 0 12px #000;
}
body {
  background-color: #e7e7e7;
}

/* For Calendar css */

.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #b0aead;
  background: #e9e5e3;
  margin-bottom: 10px;
}
.ui-datepicker-month , .ui-datepicker-year{
  font-size: 16px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #b0aead;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #b0aead;
  border-bottom: 2px solid #b0aead;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #5ed1cc;
}
.ui-datepicker-title {
  text-align: center;
  background-color: white;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  color: #00a8b2;
  margin-bottom: 5px;
  font-size: 15px;
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  line-height: 30px;
  font-size: 14px;
}
.ui-state-default:hover {
  background: rgba(0,0,0,0.02);
}
/* .ui-state-highlight {
  color: #8dd391;
} */
.ui-state-active {
  color: #06f8ec;
}
.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}

/* End calendar css */


.widget {
  margin: 0 auto;
  background-color: #ffffff;
  border: none;
}

.chart-container {
  position: relative !important;
  filter: blur(0px);

}

.shadow {
  -webkit-filter: drop-shadow(0px 3px 3px rgba(245, 3, 3, 0.5));
  border-radius: 100%;
  filter: drop-shadow(0px 10px 10px rgba(30, 202, 211, 0.5));
}